@{
  Layout = "_Layout";
}

<h1>Welcome to the Library</h1>

@Html.ActionLink("View all books", "Index", "Books")
@Html.ActionLink("View all authors", "Index", "Authors")
@Html.ActionLink("Log in", "Login", "Accounts")